# Virtual environment
.venv
.env
nba_dbt/.dbt/
# Logs
logs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# dbt - compiled artifacts (don't commit these)
nba_dbt/target/
nba_dbt/dbt_packages/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.local
.next/



# IDE
.vscode/
.idea/
*.swp

node_modules/
# OS
.DS_Store
Thumbs.db